<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.framework.test.mybatis.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.github.framework.test.mybatis.domain.UserPO">
        <result column="id" property="id"/>
        <result column="user_name" property="userName"/>
    </resultMap>

</mapper>